@{
    var fullName = User.Identity.IsAuthenticated ?
        User.Claims.First(c => c.Type == "FullName")?.Value : "";
    var firstLetter = User.Identity.IsAuthenticated ?
        fullName.Substring(0, 1) : "";
    var userId = User.Identity.IsAuthenticated ?
        User.Claims.First(c => c.Type.Contains("nameidentifier"))?.Value : "";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="dropdown">
        <div class="circle" id="myAccountMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@firstLetter</div>
        <ul class="dropdown-menu dropdown-bottom-right" aria-labelledby="myAccountMenuButton">
            <li><a class="dropdown-item" asp-controller="Accounts" asp-action="Edit" asp-route-id="@userId">Edit Profil</a></li>
            <li><a class="dropdown-item" asp-controller="Accounts" asp-action="Edit" asp-route-id="@userId">Update password</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" asp-controller="Accounts" asp-action="Logout">Logout</a></li>
        </ul>
    </div>
}
